<?xml version="1.0" encoding="UTF-8"?>

    <web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>Servlet 3.0 Web Application</display-name>

  <display-name>Web Crawler</display-name>
   
   <servlet>
    <servlet-name>SearchEngineServlets</servlet-name>
    <servlet-class>searchServlet.SearchEngineServlets</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SearchEngineServlets</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
	    <welcome-file>search</welcome-file>
	    <welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
